.navLinks {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navLinks li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navLinks li a:hover {
    color: var(--accent-color);
}

.ofertasLink {
    color: red;
}