.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 15px 20px;
    border-bottom: 1px solid #333;
}

.nombreEmpresa a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}