.footerContainer {
    background-color: black;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Target NavList links specifically within the footer */
.footerContainer .footerNav {
    flex-direction: column;
    align-items: flex-start;
    /* Optional: aligns items to the start */
    gap: 10px;
    /* Adjust spacing as needed */
}

.footerNav li a {
    color: white;
}

.footerNav li a:hover {
    color: #cccccc;
}