.seccion-promociones-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* Force single row on desktop */
}

@media (max-width: 768px) {
    .seccion-promociones-container {
        flex-wrap: wrap;
        flex-direction: column;
    }
}